.about{

    padding:80px 60px;
    border-top:1px solid rgba(255,255,255,.08);

    background:linear-gradient(
        135deg,
        #020617 0%,
        #0f172a 45%,
        #1e3a8a 100%
    );

    text-align:center;

}

.about h2{

    font-size:50px;

    color:#ffffff;

    margin-bottom:10px;

}

.about-text{

    max-width:1000px;

    margin:auto;

    font-size:20px;

    line-height:1.9;

    color:#cbd5e1;

}

.about-grid{

    margin-top:15px;

    display:grid;

    grid-template-columns:repeat(4,1fr);

    gap:20px;

}

.card{

    background:rgba(255,255,255,.08);

    backdrop-filter:blur(10px);

    border:1px solid rgba(255,255,255,.12);

    border-radius:20px;

    padding:20px;

    box-shadow:0 10px 20px rgba(0,0,0,.25);

    transition:.3s;

}

.card:hover{

    transform:translateY(-10px);

    background:rgba(37,99,235,.25);

    box-shadow:0 20px 40px rgba(37,99,235,.35);

}

.card h3{

    font-size:40px;

    color:#60a5fa;

    margin-bottom:5px;

}

.card p{

    font-size:18px;

    color:#f8fafc;

    font-weight:600;

}

@media(max-width:900px){

.about{

padding:60px 25px;

}

.about-grid{

grid-template-columns:1fr;

}

.about h2{

font-size:38px;

}

.about-text{

font-size:18px;

}

}