.footer{

padding:40px;

text-align:center;

background:#020617;

color:#cbd5e1;

}

.footer h2{

color:white;

margin-bottom:10px;

}

.footer p{

margin:10px 0;

}

.footer-links{

margin:20px 0;

display:flex;

justify-content:center;

gap:30px;

}

.footer-links a{

color:#60a5fa;

text-decoration:none;

font-weight:bold;

}

.footer-links a:hover{

color:white;

}

.footer hr{

margin:25px auto;

width:60%;

border:1px solid rgba(255,255,255,.1);

}