/* ==========================================
   NAVBAR
========================================== */

.navbar{

    position:fixed;

    top:0;

    left:0;

    width:100%;

    display:flex;

    justify-content:space-between;

    align-items:center;

    padding:18px 8%;

    background:rgba(7,17,31,.85);

    backdrop-filter:blur(15px);

    border-bottom:1px solid rgba(255,255,255,.08);

    z-index:999;

}

/* ==========================
   LOGO
========================== */

/* ==========================
   LOGO
========================== */

.logo{

display:flex;

align-items:center;

gap:15px;

cursor:pointer;

}

.logo-circle{

width:55px;

height:55px;

display:flex;

align-items:center;

justify-content:center;

border-radius:50%;

background:linear-gradient(
135deg,
#2563eb,
#06b6d4
);

color:white;

font-size:22px;

font-weight:700;

box-shadow:0 10px 25px rgba(37,99,235,.35);

transition:.35s;

}

.logo-circle:hover{

transform:scale(1.08) rotate(10deg);

}

.logo-text{

display:flex;

flex-direction:column;

}

.logo-text h3{

font-size:22px;

font-weight:700;

color:white;

margin:0;

line-height:1.2;

}

.logo-text p{

font-size:13px;

color:#94a3b8;

margin-top:3px;

}

/* ==========================
   NAVIGATION
========================== */

.nav-links{

display:flex;

align-items:center;

gap:35px;

list-style:none;

}

.nav-links li{

position:relative;

}

.nav-links a{

color:white;

text-decoration:none;

font-size:17px;

font-weight:500;

transition:.3s;

padding-bottom:5px;

}

/* Underline Animation */

.nav-links a::after{

content:"";

position:absolute;

left:0;

bottom:0;

width:0;

height:2px;

background:#3b82f6;

transition:.3s;

}

.nav-links a:hover{

color:#60a5fa;

}

.nav-links a:hover::after{

width:100%;

}

/* ==========================
   RIGHT SECTION
========================== */

.nav-right{

display:flex;

align-items:center;

gap:20px;

}

.nav-right a{

color:white;

font-size:22px;

transition:.3s;

text-decoration:none;

}

.nav-right a:hover{

color:#3b82f6;

transform:translateY(-3px);

}

/* ==========================
   RESUME BUTTON
========================== */

.resume-nav-btn{

padding:10px 22px;

border-radius:50px;

background:linear-gradient(
135deg,
#2563eb,
#1d4ed8
);

color:white !important;

font-size:15px !important;

font-weight:600;

box-shadow:0 12px 30px rgba(37,99,235,.35);

}

.resume-nav-btn:hover{

transform:translateY(-3px);

box-shadow:0 18px 35px rgba(37,99,235,.45);

}

/* ==========================
   RESPONSIVE
========================== */

@media(max-width:992px){

.navbar{

padding:15px 20px;

}

.nav-links{

display:none;

}

.logo span{

width:48px;

height:48px;

font-size:20px;

}

.resume-nav-btn{

padding:8px 18px;

font-size:14px !important;

}

}

@media(max-width:600px){

.nav-right{

gap:12px;

}

.nav-right a{

font-size:20px;

}

.resume-nav-btn{

display:none;

}

}